* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.tab {
  width: 978px;
  margin: 50px auto;
}
.tab .tab_list ul{
  height: 70px;
margin: 13px auto;
  text-align: center;
}
.tab_list {
  height: 65px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab_list li {
  display: flex;
  float: left;

  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;

}

.tab_list .current {
  background-color: #c81623;
  color: #fff;
}

.item_info {
  padding: 20px 0 0 20px;
}

.item {

  display: none;
}
.item .bg-primary {
  /* margin-top: 10px; */
  background-color: #dadada!important;
}
   @media only screen and (max-width: 800px){
    .tab{
          width: 750px;
      }
      .tab_list{
          width: 100%;
      }
      .tab_list ul li{
          font-size: 15px;
      }
  }
  @media only screen and (max-width: 575px){
      .tab{
          width: 500px;
      }
      .tab_list{
          width: 100%;
      }
      .tab_list ul li{
          font-size: 10px;
      }
  }
  /*
  @media only screen and (max-width: 450px){

    .tab{
          width: 400px;
      }
      .tab_list{
          width: 100%;
      }
      .tab_list ul li{
          font-size: 5px;
      }
  } */